
.gpt4__features{
display: flex;
justify-content: space-between;
gap: 100px;
}
@media(max-width: 1199px){
    .gpt4__features{
        flex-direction: column;
    }
}

.gpt4__features .text{
flex-basis: 35%;
}
.gpt4__features .text h1{
    margin-bottom: 40px;
}
.gpt4__features .text h5{
    color: #FF8A71;
}
.gpt4__features .gpt4__features-content{
flex: 1;
}

.gpt4__features .gpt4__features-content .gpt__4-feature:not(:last-child){
    margin-bottom: 30px;
}
@media(max-width: 767px){
    .gpt4__features .gpt4__features-content .gpt__4-feature{
        flex-wrap: wrap;
    }
}
.gpt4__features .gpt4__features-content .gpt__4-feature h3{
    width: 180px;
    font-size: 16px;
}
